html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;        
    background-color: #EA8825;    
}

main {
    position: relative;
    width: 100vw;
    
    height: 100vh;
    background-color: #EA8825;
}

#container-principal {
    position: absolute;
    left: calc(50% - 129px);
    top: calc(50% - 256px);
    text-align: center;
    width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;       
}

#titulo-principal {
    font-size: 32px;
    font-weight: bold;
    text-align: center;    
    margin-bottom: 50px;
    color: #391D08;
}

#container-resultado {
    text-align: center;    
    margin: 0 auto 10px;
}

#input-num {
    width: calc(75px*3);
    height: 50px;
    text-align: center;    
}

#container-num {        
    width: fit-content;
    margin: 0 auto 30px;    
}

.number-row {
    display: inline block;
    text-align: center;
    float: none;
    margin-bottom: 5px;
}

li {
    display: inline;
}

.button-num {
    width: 75px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 0px;
}

.button-num:hover {
    background-color: darkgray;
}

#number-0 {
    width: calc(75px*3 + 6px);
}

#container-operations {
   margin-bottom: 10px;
}

.button-com {
    background-color: lightblue;    
    width: 21%;
    height: 30px;
}

.button-com:hover {
    background-color: rgb(0, 225, 255);
}

#button-clear {
    background-color: burlywood;
    width: 20%;
    height: 30px;
}